#home-sec {
padding-top:100px;
background: url(alif.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
min-height:650px;
color:#fff;
}
.head-main {
    font-size:65px ;
    font-weight:900;
}